.about_container {
    padding: 2%;
}

.about_title {
    font-family: Proxima;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
    letter-spacing: 2px;
}

.about_title>div {
    background-color: black;
    width: 4rem;
    height: 2rem;
    margin-right: 1%;
}

.about_info{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.about_timeline{
    width: 80%;
    margin-left:-30%;
}

.about_icons{
    width: 50%;
}